{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Patient Management System | Add Patient</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'homelogo.PNG' %}" alt="logo" width="48">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_patient' %}">Add Patient</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                    </ul>
                </div>
            
    
            </div>
        </nav>
    </header>
    <div class="container root">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container mt-2" style="border-radius:10px; background-color: rgba(128,128,128,0.05); padding: 2em">
                    <h1 class="head text-center">Add Patient</h1>
                    <form class="ml-3"  method="post">
                        {% csrf_token %}
                        {{ general_form.as_p }}
                        {{ health_form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
</body>    
