{% load static %}
<!DOCTYPE html>
<html>
<head>
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Patient Management System | Update Patient Record</title>
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'homelogo.png' %}" alt="logo" width="48">
                </a>
                <!-- Responsive navbar toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <!-- Home link -->
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                             <!-- Add Patient link -->
                            <a class="nav-link" href="{% url 'add_patient' %}">Add Patient</a>
                        </li>
                        <li class="nav-item">
                              <!-- Admin link -->
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1>Edit Patient</h1>
     <!-- Form for editing patient data -->
    <form method="post">
        {% csrf_token %}
        <!-- Render GeneralInfoForm and HealthInfoForm as paragraphs -->
        {{ general_form.as_p }}
        {{ health_form.as_p }}
          <!-- Submit button to save changes -->
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
</body>
</html>