<!--django template tag for loading static files-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--link to bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Patient Management System | Display Patient Record</title>
    </head>
<body>
    <!-- Header section with navigation bar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <!-- Logo with a link to the home page -->
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'homelogo.png' %}" alt="logo" width="48">
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navigation links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <!-- Link to the Home page -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <!-- Link to the Add Patient page -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_patient' %}">Add Patient</a>
                        </li>
                        <!-- Link to the Admin page -->
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Heading for the Patient Detail section -->
    <h1>Patient Detail</h1>
    <!-- Table to display patient information -->
    <table>
        <!-- Rows for various patient details -->
        <tr>
            <th>First Name</th>
            <td>{{ patient.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ patient.last_name }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ patient.age }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ patient.gender }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ patient.phone_number }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ patient.email }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ patient.address }}</td>
        </tr>
        <!-- Patient health information -->
        <tr>
            <th>Blood Group</th>
            <td>{{ patient.patient_healthinfo.blood_group }}</td>
        </tr>
        <tr>
            <th>Height</th>
            <td>{{ patient.patient_healthinfo.height }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ patient.patient_healthinfo.weight }}</td>
        </tr>
        <tr>
            <th>Blood Pressure</th>
            <td>{{ patient.patient_healthinfo.blood_pressure }}</td>
        </tr>
        <tr>
            <th>Symptoms</th>
            <td>{{ patient.patient_healthinfo.symptoms }}</td>
        </tr>
        <tr>
            <th>Disease</th>
            <td>{{ patient.patient_healthinfo.disease }}</td>
        </tr>
        <tr>
            <th>Treatment</th>
            <td>{{ patient.patient_healthinfo.treatment }}</td>
        </tr>
        <tr>
            <th>Diagnosis Date</th>
            <td>{{ patient.patient_healthinfo.diagnosis_date|date:"Y-m-d" }}</td>
        </tr>
        <tr>
            <th>Doctor Name</th>
            <td>{{ patient.patient_healthinfo.doctor_name }}</td>
        </tr>
    </table>

    <!-- Link to go back to the Patient List page -->
    <br>
    <a href="{% url 'home' %}">Back to Patient List</a>
</body>
</html>
